Repository fetchai/agents-tac, pull requests merged in 2019-08, with the labels that each got.

#310 Add GUI to launch and configure the sandbox and a template agent.
  Pipfile
  Pipfile.lock
  sandbox/.env
  sandbox/docker-compose.yml
  simulation/v1/tac_agent_spawner.py
  tac/gui/panel/__init__.py
  tac/gui/panel/api/__init__.py
  tac/gui/panel/api/resources/__init__.py
  tac/gui/panel/api/resources/agents.py
  tac/gui/panel/api/resources/sandboxes.py
  tac/gui/panel/app.py
  tac/gui/panel/config.py
  tac/gui/panel/forms/__init__.py
  tac/gui/panel/forms/agent.py
  tac/gui/panel/forms/custom_fields.py
  tac/gui/panel/forms/sandbox.py
  tac/gui/panel/home.py
  tac/gui/panel/static/app.js
  tac/gui/panel/templates/base.html
  tac/gui/panel/templates/panel.html
  tac/platform/controller.py
  tac/platform/simulation.py
  templates/v1/advanced.py
  templates/v1/basic.py
Labels: enhancement, gui

#313 Fix code style and missing dependencies.
  setup.py
  tac/gui/__init__.py
  tac/gui/dashboards/__init__.py
  tac/gui/dashboards/agent.py
  tac/gui/dashboards/base.py
  tac/gui/dashboards/controller.py
  tac/gui/dashboards/leaderboard.py
  tac/gui/panel/__init__.py
  tac/gui/panel/api/__init__.py
  tac/gui/panel/api/resources/__init__.py
  tac/gui/panel/api/resources/agents.py
  tac/gui/panel/api/resources/sandboxes.py
  tac/gui/panel/app.py
  tac/gui/panel/config.py
  tac/gui/panel/forms/__init__.py
  tac/gui/panel/forms/agent.py
  tac/gui/panel/forms/custom_fields.py
  tac/gui/panel/forms/sandbox.py
  tac/gui/panel/home.py
  tac/platform/simulation.py
Labels: bug

#346 Fixes all but one test
  tac/platform/controller/controller_agent.py
  tests/common.py
  tests/conftest.py
  tests/test_agent/test_agent_state.py
  tests/test_agent/test_misc.py
  tests/test_controller.py
  tests/test_simulation.py
Labels: test

#354 Fully implement match accept performative
  tac/agents/v1/base/dialogues.py
  tac/agents/v1/base/negotiation_behaviours.py
  tac/agents/v1/base/reactions.py
  tac/agents/v1/mail/oef.py
Labels: Agent Framework
